body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    background-color: (255, 255, 255);
    color: (0, 0, 0);
    margin: 80px auto 48px auto;
}
  
header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
}
  
#logo-header {
    position: relative;
    left: 40px;
    bottom: 10px;
}
  
nav > a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    margin: 30px;
    transition: color 0.5s, text-decoration 0.5s;
}
  
span {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    padding: 10px 20px;
}
  
span:hover {
    border: 1px solid rgba(201,77,36);
    color: rgb(201,77,36)
}
  
nav > a:hover, nav > span:hover {
    color: rgb(201,77,36);
}
  
.navbar .icon {
    display: none;
    position: relative;
    bottom: 30px;
    cursor: pointer;
}

.barra-header {
    padding: 10px;
    border-bottom: 1px dotted black;
    border-top: 1px dotted black;
    background-color: rgba(0,0,0,0.1);
}

.barra {
    margin: 0 0 0 0;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgba(0,0,0,0.1);
}

h1, h2 {
    text-align: center
}

.dados-pessoais, .dados-pagamento, .dados-faturação {
    width: 950px;
    padding: 30px;
    background: rgb(255,255,255);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
    transition: all 0.3s;
    margin: auto auto 35px;
    display: flex;
    flex-flow: column wrap;
}

.dados-pagamento:hover, .dados-faturação:hover, .dados-pessoais:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.form {
    margin: auto;
    text-align: left;
}

.form input {
    border: 1px solid rgba(0,0,0, 0.5);
    padding: 10px;
    margin-top: 30px;
    width: 200px;
    margin-right: 5px;
    transition: all 0.3s ease;
    font-weight: 500;
}
    
.form input {
    text-decoration: none;
    color: rgb(0,0,0);
}
    
.form input:hover {
    border: 1px solid rgb(201, 77, 36);
}

#submit {
    position: relative;
    text-align: center;
    margin: 30px;
}

.form input[type="submit"] {
    width: 200px;
    height: 50px;
    cursor: pointer;
  }

.form input[type="submit"]:hover {
    color:rgb(201, 77, 36);
}
    
footer {
    background-color: gray;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px 0px;
}
      
.contacto > a {
    text-decoration: none;
    color: rgb(0,0,0);
}
      
.contacto {
    position: relative;
    right: 40px;
}
      
.contacto-titulo {
    background-color: rgb(168, 167, 167);
    padding: 10px;
    transform: fade-in background-color 5s;
}
      
.contacto-titulo:hover {
    background-color: rgba(168, 167, 167, 0.5);
}
          
#logo-footer {
    position: relative;
    left: 40px;
}

@media screen and (max-width: 1200px) and (min-width:769px) {
.navbar a {
    display: none;
    font-size: 16px;
    margin: 5px;
}
      
.navbar .icon {
    bottom: 15px;
}
      
.navbar a.icon {
    float: right;
    display: block;
}
      
.navbar.responsive {
    position: relative;
}
      
.navbar.responsive a.icon {
    position: absolute;
    right: 0px;
    bottom: 70px;
}
      
.navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
}

.dados-pessoais, .dados-pagamento, .dados-faturação {
    width: 700px;
}
}

@media screen and (max-width: 768px) {
.navbar a {
    display: none;
    font-size: 16px;
    margin: 5px;
}
      
.navbar .icon {
    bottom: 10px;
}
          
.navbar a.icon {
    float: right;
    display: block;
}
          
.navbar.responsive {
    position: relative;
}
          
.navbar.responsive a.icon {
    position: absolute;
    right: 0px;
    bottom: 70px;
}
          
.navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
}

.dados-pessoais, .dados-pagamento, .dados-faturação {
    width: 550px;
}
}
    
