body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background-color: (255, 255, 255);
  color: (0, 0, 0);
  margin: 80px auto 48px auto;
}

header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}

#logo-header {
  position: relative;
  left: 40px;
  bottom: 10px;
}

nav > a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  margin: 30px;
  transition: color 0.5s, text-decoration 0.5s;
}

span {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
  padding: 10px 20px;
}

span:hover {
  border: 1px solid rgba(201,77,36);
  color: rgb(201,77,36)
}

nav > a:hover, nav > span:hover {
  color: rgb(201,77,36);
}

.navbar .icon {
  display: none;
  position: relative;
  bottom: 30px;
  cursor: pointer;
}

#banner {
  padding: 20px;
}

#imagem-ipp {
  --b: 10px; 
  padding: var(--b);
  border: calc(2*var(--b)) solid #0000;
  outline: 1px solid #000;
  outline-offset: calc(-1*var(--b));
  background: conic-gradient(from 90deg at 1px 1px,rgb(255,255,255) 90deg,rgb(0,0,0) 0);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 92%;
}

.barra {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-bottom: 1px dotted black;
  border-top: 1px dotted black;
  background-color: rgba(0,0,0,0.1);
}

ul {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 30px
}

ul li {
  position: relative;
  list-style: none;
}

#esht{
  margin-left: 55px;
}

#ess{
  padding-left: 8px;
}

.escolas-1, .escolas-2{
  margin-right: 25px;
}

ul li a {
  font-size: 2em;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px rgba(0,0,0,0.9);
}

.escolas-1, .escolas-2, .escolas-3 {
  display: flex;
  justify-content: space-between;
}

ul li a::before {
  content: attr(data-text);
  position: absolute;
  color: var(--clr);
  width: 0;
  overflow: hidden;
  transition: 1s;
  border-right: 8px solid var(--clr);
  -webkit-text-stroke: 1px var(--clr);
}

ul li a:hover::before {
  width: 100%;
  filter: drop-shadow(0 0 25px var(--clr))
}

.produtos-homepage {
  display: flex;
  flex-direction: row;
}

.card {
  width: 750px;
  height:350px;
  background: rgb(255,255,255);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
  transition: all 0.3s;
  margin: 20px 40px;
  display: flex; 
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.card .imagem-produto {
  padding: 30px;
  width: 50%;
  text-align: center;
  float: left;
}

.card .descricao {
  padding: 30px;
  float: left;
  width: 55%;
  border-left: 2px solid rgba(0, 0, 0, 0.2);
}
.card .descricao h1 {
  color: rgb(0,0,0);
  font-weight: 200;
  padding-top: 15px;
  margin: 0;
  font-size: 30px;
}

.card .descricao h2 {
  color: rgba(0,0,0,0.6);
  margin: 0;
  font-weight: 400;
}

.card .descricao p {
  font-size: 12px;
  line-height: 20px;
  color: rgba(0,0,0,0.5);
  padding: 20px 0px;
}
.card .descricao button {
  border: 1px solid rgba(0,0,0, 0.5);
  padding: 10px;
  margin-top: 30px;
  width: 200px;
  margin-right: 5px;
  transition: all 0.3s ease;
  font-weight: 500;
}

.card .descricao button {
  text-decoration: none;
  color: rgb(0,0,0);
  cursor: pointer;
}

.card .descricao button:hover {
  border: 1px solid rgb(201, 77, 36);
  color: rgb(201, 77, 36)
}

footer {
background-color: gray;
position: absolute;
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: row;
padding: 20px 0px;
}

.contacto > a {
  text-decoration: none;
  color: rgb(0,0,0);
}

.contacto {
  position: relative;
  right: 40px;
}

.contacto-titulo {
  background-color: rgb(168, 167, 167);
  padding: 10px;
  transform: fade-in background-color 5s;
}

.contacto-titulo:hover {
  background-color: rgba(168, 167, 167, 0.5);
}

#logo-footer {
  position: relative;
  left: 40px;
}

@media screen and (max-width: 1200px) and (min-width:769px) {
.navbar a {
  display: none;
  font-size: 16px;
  margin: 5px;
}

.navbar .icon {
  bottom: 15px;
}

.navbar a.icon {
  float: right;
  display: block;
}

.navbar.responsive {
  position: relative;
}

.navbar.responsive a.icon {
  position: absolute;
  right: 0px;
  bottom: 70px;
}

.navbar.responsive a {
  float: none;
  display: block;
  text-align: left;
}

.produtos-homepage {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 750px;
  height: 350px;
  margin: 20px 40px;
}
}

@media screen and (max-width: 768px) {
.navbar a {
  display: none;
  font-size: 16px;
  margin: 5px;
}

.navbar .icon {
  bottom: 10px;
}
    
.navbar a.icon {
  float: right;
  display: block;
}
    
.navbar.responsive {
  position: relative;
}
    
.navbar.responsive a.icon {
  position: absolute;
  right: 0px;
  bottom: 70px;
}
    
.navbar.responsive a {
  float: none;
  display: block;
  text-align: left;
}

.produtos-homepage {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.card {
  width: 600px;
  height: 350px;
}
}
